body {
    background: linear-gradient(to bottom, #3498db, #ffffff);
    background-image: url('imagenes/fondo cielo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000;
}


.header {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.header img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(70%);
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header h1 {
    font-size: 35px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 50%, transparent 50%);
    background-size: 200% 100%;
    animation: textRelief 10s linear infinite;
}

.header p {
    font-size: 24px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.btn-action,
.btn-reservar {
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    background-color: #284aa7; 
    color: #fff; 
}

.btn-reservar {
    background-color: #284aa7;
    color: #fff;
}

.btn-reservar:hover {
    background-color: #00FF00;
    transform: scale(1.05);
}

.btn-icon {
    margin-right: 10px;
}

.btn-small {
    font-size: 18px;
    border-radius: 0;
    padding: 8px 16px;
}

@keyframes textRelief {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.footer-form {
    text-align: center;
    margin-top: 20px;
}


.bottom-navbar {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}



.navbar {
    background-color: #333;
}

.navbar-brand {
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 80px;
    height: 50px;
    margin-right: 10px;
    border-radius: 80%;
}

.navbar-brand span {
    font-size: 25px;
    line-height: 1;
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link.contacto {
    color: #00FF00;
}

.custom-nav {
    margin-left: auto;
}


.destinations, .special-offers {
    background: transparent;
    padding: 50px 0;
}


.destination-card, .special-offer-card {
    background: transparent;
    border: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.tarjeta-gris {
    background-color: #333;
    max-width: 1500px;
}

.texto-blanco {
    color: #fff;
}

.btn-custom {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 0;
    border: 2px solid #fff;
}


.header-image {
    position: relative;
    text-align: right;
}

.header-image img {
    width: 100%;
    height: 400px;
    max-width: 1500px;
}

.header-text {
    position: absolute;
    top: 50%;
    right: 10%; 
    transform: translateY(-50%);
    color: #fff; 
    font-size: 18px; 
    font-family: Arial, sans-serif; 
    font-weight: lighter; 
    max-width: 400px;
}


.btn-ver-hoteles {
    background-color: #048104; 
    color: #fff; 
}

.destination-card:hover {
transform: scale(1.05); 
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
}


.special-offer-card:hover {
transform: scale(1.05); 
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
}

.bottom-navbar .nav-item {
margin-right: 5px; 
}

.btn-cambiar-fondo {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #048104;
    color: #fff; 
    cursor: pointer;
}





 